@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý thống kê";
}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs nav-fill" data-bs-toggle="tabs" style="gap: 5px;">
            <li class="nav-item">
                <a href="#tabs-tkHoaDon-5" class="nav-link bg-primary tabs active text-white" data-bs-toggle="tab">
                    Thống kê hóa đơn
                </a>
            </li>
            <li class="nav-item">
                <a href="#tabs-tkkho-5" class="nav-link bg-secondary tabs text-white" data-bs-toggle="tab">
                    Báo cáo kho
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tabs-tkHoaDon-5">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <!-- SVG icon lịch -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                                            <path d="M4 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2v-12z" />
                                            <path d="M16 3v4" />
                                            <path d="M8 3v4" />
                                            <path d="M4 11h16" />
                                            <path d="M11 15h1" />
                                            <path d="M12 15v3" />
                                        </svg>
                                    </span>
                                    <input class="form-control" id="tuNgay" name="tuNgay" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <!-- SVG icon lịch -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                                            <path d="M4 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2v-12z" />
                                            <path d="M16 3v4" />
                                            <path d="M8 3v4" />
                                            <path d="M4 11h16" />
                                            <path d="M11 15h1" />
                                            <path d="M12 15v3" />
                                        </svg>
                                    </span>
                                    <input class="form-control" id="denNgay" name="denNgay" />
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-2 btn-icon" id="btnFilter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-2">
                                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                        <path d="M21 21l-6-6"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <iframe id="pdfViewer" src="" width="100%" height="600px" style="border: none;"></iframe>
                    </div>
                </div>
            </div>
            <!-- Tab Báo cáo kho -->
            <div class="tab-pane" id="tabs-tkkho-5">
                <!-- Nội dung báo cáo kho -->
            </div>
        </div>
    </div>
</div>

<script src="~/dist/js/quanlyjs/ql_thongke.js"></script>

