
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý hóa đơn";
}
<div class="row row-cards">
    <div class="card">
        <div class="card-body">
            <div class="tab-content">
                <div class="btn-list mb-3">
                    <a href="#" id="addHD" class="btn btn-2 btn-primary" data-bs-toggle="modal" data-bs-target="#hoaDonModal">
                        Lập hóa đơn
                    </a>
                    <!-- Modal -->
                    <div class="modal modal-blur fade" id="hoaDonModal" aria-labelledby="hoaDonModalLabel" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-xl mt-3" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="hoaDonModalLabel"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form id="hoaDonForm">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">Mã hóa đơn</label>
                                                <input type="text" class="form-control" id="maHoaDon" name="maHoaDon" placeholder="Mã hóa đơn">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">Tên khách hàng</label>
                                                <input type="text" class="form-control" id="tenKhachHang" name="tenKhachHang" placeholder="Tên khách hàng">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">Ngày lập</label>
                                                <div class="input-icon">
                                                    <span class="input-icon-addon">
                                                        <!-- Download SVG icon from http://tabler.io/icons/icon/calendar -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                                                            <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" />
                                                            <path d="M16 3v4" />
                                                            <path d="M8 3v4" />
                                                            <path d="M4 11h16" />
                                                            <path d="M11 15h1" />
                                                            <path d="M12 15v3" />
                                                        </svg>
                                                    </span>
                                                    <input class="form-control" id="ngayLap" name="ngayLap" placeholder="dd/mm/yyyy">
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label">Tổng tiền</label>
                                                <input type="text" class="form-control" id="tongTien" name="tongTien" placeholder="Tổng tiền" readonly>
                                            </div>
                                        </div>                                    
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="btn btn-link link-secondary btn-3" data-bs-dismiss="modal">
                                            Cancel
                                        </a>
                                        <button class="btn btn-success btn-5 ms-auto" type="submit">
                                            <!-- Download SVG icon from http://tabler.io/icons/icon/plus -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-2"><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                                            Lưu
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-vcenter card-table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Mã hóa đơn</th>
                                            <th>Tên khách hàng</th>
                                            <th>Ngày lập</th>
                                            <th>Tổng tiền</th>
                                            <th class="w-20"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="hoaDonTable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/chevron-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M15 6l-6 6l6 6"></path></svg>
                    prev
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#">
                    next
                    <!-- Download SVG icon from http://tabler.io/icons/icon/chevron-right -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M9 6l6 6l-6 6"></path></svg>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Modal Chi tiết hóa đơn -->
<div class="modal modal-blur fade" id="ctHoaDonModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl mt-3" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ctHoaDonModalLabel">Chi tiết hóa đơn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="ctHoaDonForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Mã hóa đơn</label>
                            <input type="text" class="form-control" id="maHoaDonDetail" name="maHoaDon" placeholder="Mã hóa đơn" readonly>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Mã chi tiết hóa đơn</label>
                            <input type="text" class="form-control" id="maChiTiet" name="maChiTiet" placeholder="Mã chi tiết hóa đơn">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Mã thiết bị</label>
                            <!-- Input thay vì select -->
                            <select class="form-control" id="maThietBi" name="maThietBi">
                                <option value="" disabled selected>Chọn thiết bị</option>
                                <!-- Các option sẽ được load qua AJAX -->
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Số lượng</label>
                            <input type="text" class="form-control" id="soLuong" name="soLuong" placeholder="Số lượng">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Giá tiền</label>
                            <input type="text" class="form-control" id="giaTien" name="giaTien" placeholder="Giá tiền">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Thành tiền</label>
                            <input type="text" class="form-control" id="thanhTien" name="thanhTien" placeholder="Thành tiền" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group" id="loadCTHoaDonList">
                                <!-- Danh sách chi tiết hóa đơn sẽ được load tại đây -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <a href="#" class="btn btn-link link-secondary btn-3" data-bs-dismiss="modal">Cancel</a>
                   <div>
                        <button class="btn btn-danger btn-5 ms-auto" type="button" id="deleteCTDetail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-square-x"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" /><path d="M9 9l6 6m0 -6l-6 6" /></svg>
                            Xóa
                        </button>
                        <button class="btn btn-success btn-5 ms-auto" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-floppy"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" /><path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M14 4l0 4l-6 0l0 -4" /></svg>
                            Lưu
                        </button>
                   </div>                
                </div>

            </form>
        </div>
    </div>
</div>
<script src="~/dist/js/QuanLyJS/QL_HoaDon.js"></script>
<script>
		document.addEventListener("DOMContentLoaded", function () {
			window.Litepicker && (new Litepicker({
				element: document.getElementById('ngayLap'),
				buttonText: {
					previousMonth: `<!-- Download SVG icon from http://tabler.io/icons/icon/chevron-left -->
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M15 6l-6 6l6 6" /></svg>`,
					nextMonth: `<!-- Download SVG icon from http://tabler.io/icons/icon/chevron-right -->
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M9 6l6 6l-6 6" /></svg>`,
				},
			}));
		});
</script>
