@{
    Layout = "~/Views/Shared/_LayoutDangNhap.cshtml";
}
<div class="container container-tight py-4">
    <div class="text-center mb-4">
        <a href="." class="navbar-brand navbar-brand-autodark">
            <img class="navbar-brand-image" src="~/static/LOGO.png" alt="Alternate Text" width="110" height="32" />
        </a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <h2 class="h2 text-center mb-4">Đăng nhập</h2>
            <form asp-action="Index" method="post">
                <div class="mb-3">
                    <label class="form-label">Tên người dùng</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Tên tài khoản" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Mật khẩu
                        <span class="form-label-description">
                            <a href="/forgot-password.html">Quên mật khẩu</a>
                        </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input type="password" class="form-control" id="passWord" name="passWord" placeholder="Mật khẩu"
                               autocomplete="off">
                        <span class="input-group-text">
                            <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                                <!-- Download SVG icon from http://tabler.io/icons/icon/eye -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                     stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                                    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                    <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                </svg>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="mb-2">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="text-danger mt-3 text-center">@ViewBag.ErrorMessage</div>
                    }
                </div>
                <div class="mb-2">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input" />
                        <span class="form-check-label">Ghi nhớ đăng nhập!</span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center text-secondary mt-3">
        Bạn chưa có tài khoản? <a href="/sign-up.html" tabindex="-1">Đăng ký</a>
    </div>
</div>